body{
    margin: 0;
    background: linear-gradient(rgb(130, 24, 201),white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch{
    margin: 50px auto;
    position: relative;
}

.switch label{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.switch input{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch.btn{
    width: 150px;
    height: 150px;
}

.switch.btn label{
    border-radius: 50%;
    background: linear-gradient(#f7f2f6, #b2ac9e);
    position: relative;
    color: #a5a39d;
    font-size: 70px;
    text-align: center;
    line-height: 150px;
    transition: all 0.3s ease-out;
    text-shadow: darkolivegreen;
    z-index: -1;
}

.switch.btn label:after{
    content: '';
    position: absolute;
    top: -20;
    bottom: -20;
    left: -20;
    right: -20;
    z-index: -2;
    border-radius: inherit;
}

.switch.btn label:before{
    content: '';
    position: absolute;
    top: -10;
    bottom: -10;
    left: -10;
    right: -10;
    z-index: -1;
    border-radius: inherit;
}

.switch.btn input:checked ~label{
    box-shadow:
    inset 0 2px 3px rgba(255, 255, 255, 0.13),
    0 5px 8px rgba(0, 0, 0, 0.35),
    0 3px 10px 40px rgba(0, 0, 0, 0.2);
    color: #1cd613;
}

.switch.btn .fa-power-off:after{
    content: '';
    display: block;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    z-index: -1;
    margin: -35% 0 0 -35%;
    border-radius: 50%;
    background: #d2cbc3;
    background: linear-gradient(#cbc7bc,#d2cbc3);
    box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.05),
    0 2px 5px rgba(255,255,255,0.1);
}